@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/padding.scss";

.container{
    @include Padding;
    width: 100%;
    background-color: $purple-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    font-size: 22px;
    ul{
        display: flex;
        gap: 15px;
        list-style: none;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}
