@import "./../../styles/mixins/colors.scss";
@import "./../../styles/mixins/padding.scss";
.container{
    @include Padding;
    background-image: url("../../public/images/background-item.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 12.9375rem;

}
.texts{
    span{
        font-size: 1.875rem;
        font-weight: 600;
        color: $green-color;
    }
    h2{
        font-size: 4.0625rem;
        font-weight: bold;
    }
    p{
        font-size: 30px;
        font-weight: bold;
        opacity: 0.7;
    }
}
.form{
    width: 100%;
    max-width: 600px;
    padding: 2.375rem 1.9375rem;
    background-color: white;
    border: .0313rem solid #c9c9c9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: right;
    h3{
        color: $purple-color;
        font-weight: bold;
        font-size: 2.1875rem;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    p{
        color: $purple-color;
        opacity: 0.9;
        a{
            text-decoration: underline;
        }
    }
}