$timeline-width: 0.125rem;
$timeline-height: 60vh;
$entry-width: 33.25rem;
$entry-margin-bottom: 1.25rem;
$entry-transform-y: 1.25rem;
$entry-opacity-transition: 0.5s;
$margin-bottom: 5rem;

.timeline {
  position: relative;
  width: $timeline-width;
  height: $timeline-height;
  background: #C480F7;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $margin-bottom;
  .leftText {
    position: relative;
    right: 32rem;
    .timelineEntry {
      flex-direction: row-reverse;
      align-items: baseline;
    }
  }
}

.timelineEntry {
  opacity: 0;
  display: flex;
  width: $entry-width;
  margin-bottom: $entry-margin-bottom;
  align-items: center;
  transform: translateY($entry-transform-y);
  transition: opacity $entry-opacity-transition, transform $entry-opacity-transition;
  color: #fff;
  margin-bottom: $margin-bottom;
  
  &::before {
    content: "";
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #C480F7;
    margin-right: 0.625rem;
    position: relative;
    right: 0.25rem;
  }
  
  .year {
    width: 3.75rem;
    font-weight: bold;
  }
}
